.slider{
    width:80%;
    margin:0 auto;
    background-color:green;
    text-align:center;
}
.controller{
    font-size:30px;
    cursor:pointer;
    margin:0;
}
.left{
    float:left;
}
.right{
    float:right;
}
.item{
    width:0;
    height:0;
    opacity:0;
}
.active{
    width:100%;
    height:100%;
    opacity:1;
    transition:opacity 2s;
}
.clearfix{
    clear:both;
}
img{
    width:800px;
    height:550px;
}